@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Josefin Sans";
    src: url(../assets/font/JosefinSans-VariableFont_wght.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 300 400 600;
  }
}
