@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Josefin Sans";
    src: url(../assets/font/JosefinSans-VariableFont_wght.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: 300 400 600;
  }
}

@layer components {
  .grid-areas {
    display: grid;
    grid-template-areas:
      "header image"
      "main image"
      "footer image";
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}
